host/db/users.db
host/db/logs.db
host/db/logs.db-shm
host/db/logs.db-wal
host/settings/settings.json
*.db
*.DS_Store
/shareify_env
/venv
/node_modules
postcss.config.js
package.json
package-lock.json
